/**
 * @file
 * Styling for the officehours_task view.
 */

.view-tasks-solr table,
.view-tasks table {
  font-size: .9167em;
}
td.task-task,
th.task-task {
  min-width: 200px;
}
td.task-d-o-nid,
th.task-d-o-nid {
  min-width: 70px;
}
td.task-available,
th.task-available {
  width: 58px;
}
.issue-priority.critical {
  background-color: #c45a5b;
}
.issue-priority.major {
  background-color: #d0813f;
}
.issue-priority.major,
.issue-priority.major a,
.issue-priority.critical ,
.issue-priority.critical a {
  color: #fff;
}
td.task-available,
td.task-available a {
  color: #fff;
  font-style: italic;
  letter-spacing: 2px;
}
td.task-available a {
  font-size: 1.1em;
}
.task-available.Yes {
  background-color: #4cbb17;
  font-weight: bold;
}
.task-available.Yes a:before {
  content: '+';
}
.task-available.No {
  background-color: #8b0000;
}
.task-available.No a {
  padding-left: 1ex;
}
.task-participants span {
  font-style: italic;
  font-size: 0.846em;
}
.nw {
  border-top: solid 2px #f7c5d5;
  background-color: #fae8e4;
}
.nr {
  border-top: solid 2px #f5c470;
  background-color: #fffed9;
}
.rtbc,
.ptbp {
  border-top: solid 2px #afe29a;
  background-color: #f1fee4;
}
.postponed {
  border-top: solid 2px #a1b0eb;
  background-color: #ebeefc;
}
.fixed {
  border-top: solid 2px #acf28b;
  background-color: #d9fcd2;
}
.task-claimed.Yes {
  color: #666;
}
.task-claimed.No {
  font-weight: bold;
}

#edit-field-task-attempt .tabledrag-toggle-weight-wrapper,
#edit-field-task-attempt .field-multiple-table th:first-child,
#edit-field-task-attempt .field-multiple-table td:first-child {
  display: none;
}
#edit-field-task-attempt .field-multiple-table .form-autocomplete,
#field-collection-item-form .form-autocomplete {
  width: 150px;
}
.view-mentoring-tasks.view-display-id-page .views-field-field-instructions {
  width: 275px;
}
.view-mentoring-tasks.view-display-id-page .views-field-field-queue {
  width: 440px;
}
.view-mentoring-tasks.view-display-id-page caption {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.429em;
}
